<%- include("header"); %>

<div class="container">
    <div class="about">
        <h1>ABOUT</h1>
        <p>
            Madlibble is a guessing game made using
            the power of OpenAI's API. The objective 
            is to look at the output of an AI-produced 
            image or text and determine the parameters
            of the prompt that generated that output.
        </p>
    </div>
</div>