<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MadLibble</title>
    <link rel="stylesheet" href="/css/styles.css"> 
</head>
<body>

    <div class="header-container">
        <div class="links">
            <a href="/">HOME</a>
            <a>GAME</a>
            <a href="about">ABOUT</a>
        </div>
    </div>
